.Contador input {
    font-size: 1.4rem;
    align-items: center;
}

.Contador button {
    margin: 15px;
    font-size: 1.4rem;
    width: 30px;
    border-radius: 50%;
    background-color: blue;
    color: white;
}