.TabelaProdutos table {
    width: 100%;

}
.TabelaProdutos th {
    background-color: #20b2aa;

}
.TabelaProdutos .Par {
    background-color: #ddd;

}
.TabelaProdutos .Impar {
    background-color: #ccc;
}